img{
    width: 100%;
    display: flex;
}

.show-card{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 8px;
    padding: 4px;
}

html{

    background-color: antiquewhite;
}

#btn-container{
    display:flex;
    flex-direction: column;
    gap: 12px;
}

.upvote-span{
    text-align: center;
}

.downvote-span{
    text-align: center;
}

.add-button{
    width: 200px;
    height: 200px;
}